<nav>
    <div class="nav-wrapper cyan lighten-3">
        <a href="/feed" class="brand-logo">Bridge.</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons fas fa-bars"></i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Search</a></li>
            <li><a href="/feed">Feed</a></li>
            <li><a href="/account/{{_id}}">Account</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/account/{{_id}}">Account</a></li>
    <li><a href="badges.">Search Communities</a></li>
    <li><a href="/feed">Feed</a></li>
    <li><a href="/auth/logout">Logout</a></li>
</ul>