<form action="/community/{{_id}}/create" method="POST">
    <h4>Create a new post</h4>
    <div>
        <label for="name">Title:</label>
        <input type="text" name="title">
    </div>
    <div>
        <label for="description">Content:</label>
        <input type="text" name="body"></input>
    </div>
    <div>
        <input type="submit" value="Post">
    </div>
</form>