<form action="/community/{{_id}}/create" method="POST">
    <h4>Create a new post</h4>
    <div class="input-field">
        <label for="name">Title:</label>
        <input type="text" name="title" autocomplete="off">
    </div>

    <div class="input-field">
        <label for="description">Content:</label>
        <input type="text" name="body" autocomplete="off"></input>
    </div>

    <div class="input-field">
        <input type="submit" value="Post" class="btn cyan">
        <a href="/community/{{_id}}" class="btn red">Cancel</a>
    </div>
</form>