<form action="/community/create" method="POST">
    <h4>Create a new community</h4>
    <div class="input-field">
        <label for="name">Community Name:</label>
        <input type="text" name="name" required autocomplete="off">
    </div>

    <div class="input-field">
        <label for="description">Description:</label>
        <input type="text" name="description" required autocomplete="off"></input>
    </div>

    <div class="row">
        <div class="input-field">
            <select name="status" id="status">
                <option value="public" selected>Open to public</option>
                <option value="private">Invite only</option>
            </select>
            <label for="status">Status</label>
        </div>
    </div>

    <div class="row">
        <input type="submit" value="Create" class="btn cyan">
        <a href="/feed" class="btn red">Cancel</a>
    </div>
</form>