<form action="/follow/add" method="POST">
    <div>
        <label for="profileName">Enter user to follow</label>
        <input type="text" id="profileName" name="profileName">
    </div>

    <input type="submit" value="Follow">
</form>

<form action="/follow/remove" method="POST">
    <div>
        <label for="profileName">Enter user to unfollow</label>
        <input type="text" id="profileName" name="profileName">
    </div>

    <input type="submit" value="Unfollow">
</form>

<a href="/auth/logout">Logout</a>
<a href="/account/{{_id}}">Account</a>